.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: arial, sans-serif, monospace;
  color: #FAFAFA;  
}

.wrapper {
  background: #333;
  width: 50em;
  margin: 70px auto;
  box-shadow: 0 4px 0px #333;
  border-radius: 15px;

}

.wrapper_header {
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background-color: #222;
  border-radius: 15px 15px 0 0;
  border-bottom: solid 2px #444;
}

.wrapper_header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: normal;
  cursor: default;
}

.icon-clickable {
  cursor: pointer;
}

.icon-left {
  float: left;
  margin-right: 10px;
}

.icon-right {
  float: right;
  margin-left: 10px;
}

.arrow-down {
  margin-left: 1em;
}

.icon-red {
  color: #e57373;
}

.period {
  display: flex;
  font-size: 1.2em;
  border-bottom: solid 2px #444;
  letter-spacing: 2px;
}

.period-name {
  flex-grow: 1;
  padding: 10px 10px 10px 10px;
}

.period-name input[type=text] {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 0px 10px 0px 15px;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  background-color: #333;
  border-style: none;
  text-shadow: none;
  text-align: center;
  color: #999;
  letter-spacing: 2px;
  outline: none;
  width: 85%
}

.period-name input[type=text]::-webkit-input-placeholder {
  color: #666;
  letter-spacing: 2px;
}

.period-name input[type=text]:focus {
  background-color: #444;
}

.period-score {
  width: 24.5em;
  overflow-x: overlay;
  padding-top: 5px;
  background-color: #2b2b2b;
  color: #FAFAFA;
  text-align: center;
  font-family: monospace;
  align-content: center;
  align-items: center;
  border-left: solid 2px #444;
}

.period-score input[type=text] {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 10px 10px 0px 15px;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  background-color: #2b2b2b;
  border-style: none;
  text-shadow: none;
  text-align: center;
  color: #FAFAFA;
  letter-spacing: 2px;
  outline: none;
  width: 85%
}

.period-score input[type=text]::-webkit-input-placeholder {
  color: #666;
  letter-spacing: 2px;
}

.period-score input[type=text]:focus {
  background-color: #444;
}

.score {
  display: flex;
  font-size: 1.2em;
  border-bottom: solid 2px #444;
  letter-spacing: 2px;
}

.score input[type=text] {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 0px 10px 0px 15px;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  background-color: #333;
  border-style: none;
  text-shadow: none;
  text-align: center;
  color: #999;
  letter-spacing: 2px;
  outline: none;
  width: 85%
}

.score input[type=text]::-webkit-input-placeholder {
  color: #666;
  letter-spacing: 2px;
}

.score input[type=text]:focus {
  background-color: #444;
}

.score-name {
  flex-grow: 1;
  padding: 20px 10px 10px 10px;
}

.score-score {
  width: 20em;
}

.confirm-box {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.confirm-box__content {
  background-color: #333;
  text-align: center;
}

.confirm-box__title {
  font-size: 1.5em;
  margin-bottom: 20px;
  background-color: #222;
}

.confirm-box__message {
  font-size: 1.2em;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 0px #333;  
  white-space: pre-line;
}

.confirm-box__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-box__action {
  display: inline-flex;
  font-size: .6em;
  margin: 0px 15px 10px 15px;
  padding: 5px 10px 10px 10px;
  background-color: #222;
  border-radius: 5px;
  color: #e6e6e6;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  width: 45%;
  height: 80%;
}

.confirm-box__action--cancel {
  background-color: #ef5350;
}

.confirm-box__action--cancel:not(:disabled):hover {
  background-color: #c44442;
}

.confirm-box__action--confirm {
  background: #4b71b5;
}

.confirm-box__action--confirm:not(:disabled):hover {
  background: #3b5b9b;
}

.button {
  display: flex;
  font-size: 1.2em;
  border-bottom: solid 2px #444;
  letter-spacing: 2px;
}

.button.highlight {
  border: solid 1px #2f73ea;
}

.button-name {
  flex-grow: 1;
  margin-left: 3em;
  padding: 5px 10px 5px 10px;
}

.button-score {
  width: 270px;
}

.counter {
  display: flex;
}

.counter-action {
  border-top: none;
  border-left: solid 1px #444;
  border-right: solid 1px #444;
  border-bottom: none;
  font-weight: bold;
  color: #FAFAFA;
  display: block;
  padding: 20px 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.counter-action.increment {
  background: #66BB6A;
}

.counter-action.increment:not(:disabled):hover {
  background: #549d59;
  cursor: pointer;
}

.counter-action.decrement {
  background: #ef5350;
}

.counter-action.decrement:not(:disabled):hover {
  background: #c44442;
  cursor: pointer;
}

.counter-score {
  flex-grow: 1;
  max-width: 150px;
  overflow-x: overlay;
  background: #2b2b2b;
  color: #FAFAFA;
  text-align: center;
  font-family: monospace;
  padding: 10px;
  font-size: 2em;
  align-content: center;
  align-items: center;
  cursor: default;
}

.stats {
  margin-top: 0;
  font-weight: normal;
}

.stats td:first-child {
  text-align: right;
  font-weight: normal;
  letter-spacing: 2px;
  color: #666;
  font-size: .7em;
}

.stats td:last-child {
  text-align: left;
}

.wrapper_header .stats,
.wrapper_header .stopwatch {
  width: 22.7em;
}

.buttons__row {
  position: initial;
}

.buttonList__scene {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 9.5em;
}

.add-button-form form {
  display: flex;
  background-color: #222;
  border-radius: 0 0 20px 20px;
  border: solid 1px #333;
}

.edit-button-form form {
  display: flex;
  background-color: #222;
  border-radius: 0 0 20px 20px;
  border: solid 1px #2f73ea;
}

.add-button-form input[type=text], .add-button-form input[type=number],
.edit-button-form input[type=text], .edit-button-form input[type=number] {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 15px 10px 15px 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #333;
  border-style: none;
  text-shadow: none;
  text-transform: uppercase;
  text-align: center;
  color: #999;
  letter-spacing: 2px;
  outline: none;
}

.add-button-form input[type=text]::-webkit-input-placeholder, .add-button-form input[type=number]::-webkit-input-placeholder,
.edit-button-form input[type=text]::-webkit-input-placeholder, .edit-button-form input[type=number]::-webkit-input-placeholder {
  color: #666;
  letter-spacing: 2px;
}

.add-button-form input[type=text]:focus, .add-button-form input[type=number]:focus,
.edit-button-form input[type=text]:focus, .edit-button-form input[type=number]:focus {
  background-color: #444;
}

.add-button-form input[type=submit], .edit-button-form input[type=submit] {
  display: block;
  font-size: .6em;
  margin: 15px 15px 15px 0;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  border: none;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  width: 30%;
}

.add-button-form input[type=submit]:not(:disabled):hover, .edit-button-form input[type=submit]:not(:disabled):hover {
  background: #4b71b5;
  color: #fafafa;
  cursor: pointer;
}

.button-remove {
  float: left;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.2em;
  color: #e57373;
  cursor: pointer;
  background: transparent;
  border: none;
}

.button-edit {
  float: right;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.2em;
  color: #4b71b5;
  cursor: pointer;
  background: transparent;
  border: none;
}

.button-action {
  font-size: .6em;
  margin: 0px 15px 0px 15px;
  padding: 5px 1em 1em 1em;
  background-color: #222;
  border-radius: 5px;
  border: solid 0.5px #ef5350;
  color: #FAFAFA;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  width: 80%;
  height: 80%;
}

.isOnline {
  border: solid 0.5px #66BB6A;
  color: #222;
}

.button-action:not(:disabled):hover {
  background: #66BB6A;
  color: #222;
  cursor: pointer;
}

.isOnline:not(:disabled):hover {
  background: #ef5350;
  color: #FAFAFA;
  cursor: pointer;
}

.stopwatch {
  padding: 15px 10px 5px 10px;
  margin: -5px -10px -5px 10px;
  background: #2f2f2f;
  border-radius: 0 15px 0 0;
}

.stopwatch {
  padding: 15px 10px 5px 10px;
  margin: -5px -10px -5px 10px;
  background: #2f2f2f;
  border-radius: 0 15px 0 0;
}

.stopwatch input[type=text],
.stopwatch input[type=number] {
  flex-grow: 1;width: 95%;
  border-width: 0 0 1px 0;
  border-radius: 5px;
  background-color: #2f2f2f;
  border-style: none;
  text-shadow: none;
  text-align: center;
  color: #999;
  letter-spacing: 2px;
  outline: none;
}

.stopwatch input[type=text]::-webkit-input-placeholder,
.stopwatch input[type=number]::-webkit-input-placeholder {
  color: #666;
  letter-spacing: 2px;
}

.stopwatch input[type=text]:focus,
.stopwatch input[type=number]:focus {
  background-color: #444;
}

.stopwatch-time {
  font-family: monospace;
  font-size: 2em;
  cursor: default;
}

.stopwatch-stop {
  background: #ef5350;
  color: #e6e6e6;
}

.stopwatch-stop:not(:disabled):hover {
  background: #c44442;
  color: #e6e6e6;
}

.stopwatch-start {
  background: #66BB6A;
  color: #e6e6e6;
}

.stopwatch-start:not(:disabled):hover {
  background: #549d59;
  color: #e6e6e6;
}

.stopwatch-reset {
  background: #4b71b5;
  color: #e6e6e6;
}

.stopwatch-reset:not(:disabled):hover {
  background: #3b5b9b;
  color: #e6e6e6;
}

.stopwatch button {
  margin: 8px 5px;
  border-radius: 5px;
  padding: 7px 8px;
  border: none;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
}

.stopwatch:not(:disabled) button:hover {
  cursor: pointer;
}

.stopwatch h2 {
  font-size: .6em;
  margin: 0;
  font-weight: normal;
  letter-spacing: 2px;
  color: #666;
}

.moveable__controls {
  position: absolute;
}

.droppable {
  min-width: 110px;
  padding: 20px 10px;
  border: 1px solid black;
  border-radius: 5px;
  list-style-type: none;
}

.item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 110px;
  height: 30px;
  margin-bottom: 5px;
  padding-left: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  user-select: none;
  background-color: white;
}

.error {
  color: #ef5350;
  font-weight: bold;
  letter-spacing: 2px;
}

.disabled {
  opacity: 0.7 !important;
  cursor: not-allowed !important;
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  cursor: none !important;
}

.no_display {
  display: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
